<div data-role="page" data-url="<%= Rho::Application.startURI %>/">

    


  <div data-role="content">
    <H1>Press the Scan Trigger</H1>
    <img src="/public/images/barcode_icon.png"/>
  </div>

</div>
