<div data-role="page" data-url="<%= Rho::Application.startURI %>/">

    
  <div data-role="header" data-position="inline">
    <h1>RhoStripe</h1>
    <% if Rho::RhoConnectClient.isLoggedIn %>
    <a href="<%= url_for :controller => :Settings, :action => :do_sync %>" class="ui-btn-left" data-icon="refresh">
      Sync
    </a>
    <a href="<%= url_for :controller => :Settings, :action => :logout %>" class="ui-btn-right" data-icon="star">
	    Logout
	  </a>
    <% else %>
        <a href="<%= url_for :controller => :Settings, :action => :login %>" class="ui-btn-right" data-icon="star">Login</a>
    <% end %>
  </div>

  <div data-role="content">
      <form action="" method="POST" id="payment-form">
        <span class="payment-errors"></span>
      
        <div class="form-row">
          <label>
            <span>Card Number</span>
            <input type="text" size="20" data-stripe="number" placeholder="4242424242424242"/>
          </label>
        </div>
      
        <div class="form-row">
          <label>
            <span>CVC</span>
            <input type="text" size="4" data-stripe="cvc"/>
          </label>
        </div>
      
        <div class="form-row">
          <label>
            <span>Expiration Month (MM)</span>
            <input type="text" size="2" data-stripe="exp-month"/>
          </label>
          <span>  Year (YYY) </span>
          <input type="text" size="4" data-stripe="exp-year"/>
        </div>
      
        <button type="submit">Submit Payment</button>
      </form>
  </div>

</div>
