<div data-role="page" data-url="<%= Rho::RhoConfig.start_path %>/">

    
  <div data-role="header" data-position="inline">
    <h1>BarcodeExample</h1>
  </div>

  <div data-role="content">
    <ul data-role="listview">
    <li><a href="/public/barcode_enumerate.html">Enumerate</li>
    <li><a href="/public/barcode_enumerate_instance.html">Enumerate Instance</li> 
    <li><a href="/public/barcode_enable_cb_anon.html">Enable - Callback Anon Fun</li> 
    <li><a href="/public/barcode_take_cb_anon.html">Take - Callback Anon Fun</li> 
    <li><a href="/public/barcode_set_default.html">Override Default</li> 
    </ul>
  </div>

</div>
