<div >
      <a href="/app/Report" class="col-xs-5 col-md-5 btn btn-primary" ><i class="icon-edit icon-4x icon-white" id='navsequence'></i>REPORTS</a>
      <span class="col-xs-1 col-md-1"></span>
      <a href="/app/Sync" class="col-xs-5 col-md-5 btn  btn-info" ><i class="icon-cloud-upload icon-4x icon-white" id='navsequence'></i>SYNC</a>

</div>


