<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <title>Rhospection</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
        <link href="/public/css/bootstrap.min.css" rel="stylesheet" media="screen">
       
        <link href="/public/css/font-awesome.min.css" rel="stylesheet">
        <script type="text/javascript" charset="utf-8" src="/public/api/rhoapi-modules.js"></script>
        <!-- including this 2.2 api for camera access as this is not in the 4.x JS apis -->
        <!-- // <script type="text/javascript" charset="utf-8" src="/public/js/rho_javascript_api.js"></script> -->
        
        <script src="/public/jquery/jquery-1.9.1.min.js" type="text/javascript"></script>
        <script src="/public/js/bootstrap.min.js"></script>
        <script src="/public/js/pixastic.custom.js"></script>
        <script src="/public/application.js" type="text/javascript"></script>
        <script src="/public/js/parse-1.2.10.min.js" type="text/javascript"></script>
             
        <script type="text/javascript">
var parse_config = {app_id : '<%=Rho::RhoConfig.parse_app_id%>', key_js: '<%=Rho::RhoConfig.parse_key_js%>' };

$(document).ready(function() {
  if(Rho.RhoConnectClient.isLoggedIn())
  {
    $('#menuLogout').html('<a href=""><i class="icon-key icon-large icon-primary"></i> ' + Rho.RhoConnectClient.userName + '- Logout</a>');
  }
  else
  {
    $('#menuLogout').html('Login');

  }

  $('#menuLogout').click(function(){
    if(Rho.RhoConnectClient.isLoggedIn())
    {
      Rho.RhoConnectClient.logout;
    }
    Rho.WebView.navigate('/app/');
  });
});
        </script>
<style>
.image-thumb
{
  width:64px;
  height:64px;
}
.indicator
{
  width:10px;
  height:64px;
}
body { padding-bottom: 70px; }
</style>        
</head>

<body >
<div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="/public/images/bg.png"/>Rhospection</a>
        </div>
        <div class="navbar-collapse collapse" style="height: 1px;">
          
          <ul class="nav navbar-nav navbar-right">
            
            <li id="menuReports"><a href="/app/Report" ><i class="icon-edit icon-large icon-primary" id='navsequence'></i> Private Reports</a>
      </li>
      <li id="menuReports"><a href="/app/Report/public" ><i class="icon-group icon-large icon-primary" id='navsequence'></i> Public Reports</a>
      </li>
      <li id="menuSync"><a href="/app/Sync" ><i class="icon-cloud icon-large icon-primary" id='navcloud'></i>
    Sync</a></li>
            <li id="menuLogout"></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

<div class='container'>
    <%= @content %>
</div>
</body>

</html>
