<div data-role="page">

  <%= render :partial => "/partials/page_head" %>
    
  <div data-role="content">
  
    <%= render :partial => "/partials/example_header", :locals => {:title => "Setting card reader properties", :description => "
      Setting card reader properties example
    " }
    %>

    <%= render :partial => "/partials/language_tabs" %>
    <form action ="<%= url_for(:action => :set_properties) %>">
      <div data-role="controlgroup">
        <label><input type="radio" name="property" value="autoTab" checked>AutoTab</label>
        <label><input type="radio" name="property" value="autoEnter">AutoEnter</label>
      </div>
    <div class="sample ruby">
      <input type="submit" data-role="button" value="Setting card reader properties">
    </div>
    
    <div class="sample javascript">
          <a href="#" data-role="button" onclick="KitchenSink.Samples.CardReader.setProperties()">Setting card reader properties</a>
    </div>
    </form>
    
  </div>
