<div data-role="page">

  <%= render :partial => "/partials/page_head" %>
    
  <div data-role="content">
  
    <%= render :partial => "/partials/example_header", :locals => {:title => "Export DB", :description => "
      Export DB
      
      
    " }
    %>

    <%= render :partial => "/partials/language_tabs" %>
    
    <div class="sample ruby">
      <a href="<%= url_for :action => :export_db %>" data-role="button">Export DB</a>
    </div>
    
    <div class="sample javascript">
          <a href="#" data-role="button" onclick="KitchenSink.Samples.Database.export_db()">Export DB</a>
    </div>
  </div>   
</div>
