<div><h3 style="display: inline"><%= title %></h3> <a class="ks_toggle_example_description" data-role="button" data-icon="plus" data-iconpos="notext" data-inline="true">Show description</a></div>

<div class="example_description">
  <%= description %>
</div>