<div data-role="navbar">
  <ul>
    <li><a href="#" data-language="ruby" class="language-link">Ruby</a></li>
    <li><a href="#" data-language="javascript" class="language-link ui-btn-active selected">Javascript</a></li>
  </ul>
</div>
