<%= render :partial => "/partials/navpanel" %>

<div data-role="header" data-position="inline">
  <% if Rho::System.platform != 'WINDOWS' %><a href="#navpanel" data-icon="bars" data-corners="false" data-iconpos="notext">Navigation</a><% end %> <h1>RhoMobile Kitchen Sink</h1>
</div>
