<%= render :partial => "/partials/navpanel" %>

<div data-role="header" data-position="inline">
  <a href="#navpanel" data-icon="bars" data-corners="false" data-iconpos="notext">Navigation</a> <h1>RhoMobile Kitchen Sink</h1>
</div>
