<div data-role="page">

  <%= render :partial => "/partials/page_head" %>
    
  <div data-role="content">
  
    <%= render :partial => "/partials/example_header", :locals => {:title => "Send log file to remote server", :description => "
      Upload log file to an external server
    " }
    %>

    <%= render :partial => "/partials/language_tabs" %>
    
    <div class="sample ruby">
      <a href="<%= url_for(:action => :send_log_file) %>" data-role="button">Upload log file</a>
    </div>
    
    <div class="sample javascript">
      <a href="#" data-role="button" onclick="KitchenSink.Samples.Log.send_log_file()">Send log file</a>
    </div>
    
    
  </div>
</div>