<div data-role="page">

<%= render :partial => "/partials/page_head" %>
  
<div data-role="content">

  <%= render :partial => "/partials/example_header", :locals => {:title => "Select picture from gallery", :description => "
  " }
  %>

  <%= render :partial => "/partials/language_tabs" %>

  <div data-role="content">
    <div class="sample ruby">
          <a href="<%= url_for(:action => :select_picture_from_gallery) %>" data-role="button">Select picture</a> 
    </div>
    <div class="sample javascript">
      <a href="#" onclick="KitchenSink.Samples.Camera.select_picture_from_gallery()" data-role="button">Select picture</a>
      
      <img id="captured_image"> 
    </div>    
  </div>

</div>