<div data-role="page">

<%= render :partial => "/partials/page_head" %>
  
<div data-role="content">

  <div data-role="content">
    Picture not taken - either an error occurred or the capture was cancelled
  </div>

</div>