<div data-role="page">

    
  <div data-role="header" data-position="inline">
    <h1>Picture taken</h1>
  </div>

  <div data-role="content">
    <div>
      <img src="<%= @image %>" style="width:100%">
    </div>
  </div>

</div>
