<div data-role="page">

  <%= render :partial => "/partials/page_head" %>
    
  <div data-role="content">
  
    <%= render :partial => "/partials/example_header", :locals => {:title => "Navigating to pages", :description => "
      This example will show you how to navigate between pages
    " }
    %>

    <%= render :partial => "/partials/language_tabs" %>
    
    <div class="sample ruby">
       <a href="<%= url_for :action => :navigate_page %>" data-role="button">Navigate to another page</a> 
    </div>
    
    <div class="sample javascript">
          <a href="#" data-role="button" onclick="KitchenSink.Samples.Webview.navigate()">Navigate to another page</a>    
    </div>
    
    
  </div>