<div data-role="page">

  <div data-role="header" data-position="inline">
      <script src="/public/jquery/jquery-1.6.4.min.js" type="text/javascript"></script>
      <script src="/public/jquery/jquery.json-2.3.min.js" type="text/javascript"></script>
      <script type="text/javascript" charset="utf-8" src="/public/api/rhoapi-modules.js"></script>

      <script type="text/javascript">

          function tabbarSwitch( nTab ) {
            Rho.NativeTabbar.switchTab(nTab);
          }

          function goHome( ) {
            Rho.NativeTabbar.switchTab(0);
          }

          function onExit(){
            Rho.Application.minimize();
          }
      </script>

      <h1>My Header</h1>
    <a href="#" onclick="goHome();" class="ui-btn-left" data-icon="home" data-direction="reverse" >
      Home
    </a>
  </div>

  <div data-role="content">
      <h1>Home Screen</h1>
      <input id="test" type="button" value="Page1" onclick="tabbarSwitch(1);" />   
      <input id="test2" type="button" value="Page2" onclick="tabbarSwitch(2);" />         
      <br><br>      
  </div>
 
</div>
