<div data-role="page" data-url="<%= Rho::RhoConfig.start_path %>/">

    
  <div data-role="header" data-position="inline">
    <h1>RhoMobile Kitchen Sink</h1>
  </div>

  <div data-role="content">
    <div class="example-description">
     This sample application demonstrates APIs found in RhoMobile 4.0. Source to this application can be found <a href="https://github.com/rhomobile/rho-samples/tree/master/kitchensink">here</a> and a document describing the application can be found <a href="http://edgedocs.rhomobile.com/guide/kitchensink">here</a>.	 
    </div>

    <%= render :partial => "/partials/navmenu" %>

  </div>


</div>
