<div data-role="page">

    
  <div data-role="header" data-position="inline">
    <h1>Captured signature</h1>
  </div>

  <div data-role="content">
    <img id="signature-image" src="<%= @signature %>">
  </div>

</div>
