.ui-header .ui-title {
    text-overflow: clip;
    white-space: normal;
    font-size: 14px;
}

.example_description {
	display: block;
}

.sample.ruby {
	display:none;
}

body[data-platform="WINDOWS"] .language-link.selected:before {
	content: "** ";
}

body[data-platform="WINDOWS"] .language-link.selected:after {
	content: " **";
}
