<div data-role="page">

  <%= render :partial => "/partials/page_head" %>
    
  <div data-role="content">
  
    <%= render :partial => "/partials/example_header", :locals => {:title => "LocalServerPort for debug purposes", :description => "
      This example will show you the LocalServerPort information for debug purposes 
    " }
    %>

    <%= render :partial => "/partials/language_tabs" %>
    
    <div class="sample ruby">
      <ul>
        <li>LocalServerPort: <%= @local_port %></li>
      </ul>
    </div>
    
    <div class="sample javascript">
          <a href="#" data-role="button" onclick="KitchenSink.Samples.System.local_serverport()">LocalServerPort for debug purposes</a>    
    </div>
    
    
  </div>