<div data-role="page">

  <%= render :partial => "/partials/page_head" %>
    
  <div data-role="content">
  
    <%= render :partial => "/partials/example_header", :locals => {:title => "Restore application", :description => "
      Restore the application. In this sample, the application will be minimized and then restored
    " }
    %>

    <%= render :partial => "/partials/language_tabs" %>
    <% if (Rho::System.platform == "WINDOWS" || Rho::System.platform == "WINDOWS_DESKTOP") %> 
      <div class="sample ruby">
        <a data-role="button" href="<%= url_for :action => :restore_app %>">Restore application</a>
      </div>
      
      <div class="sample javascript">
        <a href="#" data-role="button" onclick="KitchenSink.Samples.Application.restore_app()">Restore application</a>    
      </div>
    <% else %>
       Restore application is supported only on Windows Mobile and Windows Destop
    <% end %>

    
  </div>

</div>