<div data-role="page">

  <%= render :partial => "/partials/page_head" %>
    
  <div data-role="content">
  
    <%= render :partial => "/partials/example_header", :locals => {:title => "Upload file", :description => "
      This example will show how to upload a file
    " }
    %>

    <%= render :partial => "/partials/language_tabs" %>
    
    <div class="sample ruby">
      <a data-role="button" href="<%= url_for :action => :upload_file %>">Upload file</a></li>
    </div>
    
    <div class="sample javascript">
          <a href="#" data-role="button" onclick="KitchenSink.Samples.Network.upload_file()">Upload file</a>    
    </div>
    
    
  </div>




