<div data-role="page">

  <%= render :partial => "/partials/page_head" %>
    
  <div data-role="content">
  
    <%= render :partial => "/partials/example_header", :locals => {:title => "Download file", :description => "
      This example will show how to Download a file to the specified filename and be notified whether the download succeeded or not. Network connection is required to test this sample.
    " }
    %>

    <%= render :partial => "/partials/language_tabs" %>
    
    <div class="sample ruby">
      <a href="#" data-role="button" onclick="KitchenSink.Samples.Network.call_ruby_method_via_ajax('download_file')">Download file</a>
    </div>
    
    <div class="sample javascript">
          <a href="#" data-role="button" onclick="KitchenSink.Samples.Network.download_file()">Download file</a>    
    </div>
  </div>
</div>