<div data-role="page">

<%= render :partial => "/partials/page_head" %>
  
<div data-role="content">

  <%= render :partial => "/partials/example_header", :locals => {:title => "HTTP Basic auth", :description => "
    This example will show how to perform a HTTP GET request with Basic authentication and be notified whether the transfer succeeded or not. Network connection is required to test this sample.
  " }
  %>

  <%= render :partial => "/partials/language_tabs" %>

  <div data-role="content">
    <div class="sample ruby">
      <a href="#" onclick="KitchenSink.Samples.Network.call_ruby_method_via_ajax('do_basic_auth')" data-role="button">Attempt basic auth</a>
    </div>
    
    <div class="sample javascript">
      <a href="#" onclick="KitchenSink.Samples.Network.basic_auth()" data-role="button">Attempt basic auth</a>
    </div>
  </div>

</div>