<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Settings</h1>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      <% if @msg %>
          <li class="error-message"><%= @msg %></li>
      <% end %>

          
    </ul>
  </div>
</div>
